Source: ros-hydro-iiwa
Section: misc
Priority: extra
Maintainer: Mohammad Khansari <khansari@cs.stanford.edu>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-roscpp
Homepage: http://lasa.epfl.ch/khansari
Standards-Version: 3.9.2

Package: ros-hydro-iiwa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-runtime
Description: IIWA Robot
